.challenges a {
  text-decoration: none;
  color: unset;
}

.challenges {
  margin-bottom: 2em;
}

.challenges {
  font-size: 32px;
  text-align: center;
  color: #115549;
  font-family: poppins;
  padding-top: 1em;
}
