.profile-cards {
  border-radius: 10px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

#going-challenge {
  padding: 1rem 2rem 2rem 2rem;
}


.green-card {
  background-color: #115549;
}

.green-card p {
  color: white;
}

.white-card {
  background-color: white;
}

.progress {
  background-color: #9ABDA4;
  border-radius: 2px;
  margin: 1rem 0;
  border-radius: 50px;
}

.progress-bar {
  background-color: white;
}

.progress-bar .goal {
  background-color: #115549;
}

.cards {
  display: flex;
  padding: 0px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card.card-scroll {
  display: flex;
  flex-direction: column;
  flex: 0 0 94%;
  padding: 1rem 2rem;
  border-radius: 10px;
  scroll-snap-align: start;
  transition: all 0.2s;
  margin: 0 0.3rem;
  background-color: #115549;
  border: none;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.card.card-scroll p {
  color: white;
}

.card.card-scroll-cat {
  display: flex;
  flex-direction: column;
  flex: 0 0 43%;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  scroll-snap-align: start;
  transition: all 0.2s;
  margin: 0 0.5rem;
  border: none;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
}

.card.card-scroll-cat p {
  color: white;
  margin: 0px;
}

.card.card-scroll-cat.food {
  background-color: #FD841F;
}
.card.card-scroll-cat.transport {
  background-color: #0c69db;
}
.card.card-scroll-cat.energy {
  background-color: #CD104D;
}
.card.card-scroll-cat.waste {
  background-color: darkgreen;
}
.card.card-scroll-cat.purchase {
  background-color: #5e1e4c;
}

#seniority {
  position: relative;
}

#arrow-seniority {
  position: absolute;
  right: 20px;
  bottom: 17px;
}

#past-challenge {
  position: relative;
}

#arrow-past-challenge {
  position: absolute;
  right: 20px;
  bottom: 17px;
}

#going-challenge {
  position: relative;
}

#arrow-going-challenge {
  position: absolute;
  right: 20px;
  bottom: 17px;
}

.fa-solid.fa-arrow-right.white {
  color: white;
  font-size: larger;
}

.fa-solid.fa-arrow-right.green {
  color: #115549;
  font-size: larger;
}

.activity-report h2 {
  margin: 0.5rem
}

.daily-tips {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.daily-tips h2 p {
  margin: 0;
}

.fa-lightbulb-exclamation {
  color: white;
}

section.challenges {
  margin: 0px;
  padding-top: 1rem;
}
