.challenges a {
  text-decoration: none;
  color: unset;
}

.challenges {
  margin-bottom: 2em;
}

.challenges {
  font-size: 32px;
  text-align: center;
  color: #115549;
  font-family: poppins;
  padding-top: 1em;
}

// .text-new-challenge p {
//   text-align: center;
//   font-size: 1em;
//   margin: 17px 0px 0px;
// }
// .text-new-challenge h4 {
//   text-align: center;
//   margin: 0.7em 0em 0em;
// }
// .header-index img {
//   width: 40px;
//   border-radius: 50%;
// }
