.challenges a {
  text-decoration: none;
  color: unset;
}

.text-new-challenge p {
  text-align: center;
  font-size: 17px;
  margin: 17px 0px 0px;
}
.text-new-challenge h4 {
  text-align: center;
  margin: 17px 0px 0px;
}

.challenges {
  margin-bottom: 50px;
}
