<%= simple_form_for [@challenge, @booking] do |f| %>
  <%= f.input :goal, as: :range %>
  <div class="form-check form-switch">
    <%= f.input :status, as: :boolean, class: "form-check-input" %>
  </div>
  <%= f.button :submit %>
<% end %>

