<div class="header">
  <div class="title-avatar">
    <h1>Events</h1>
  </div>
</div>

<div class="container-nav">
  <h1>Events around me</h1>
  <%= calendar number_of_days: 4 do |date| %>
    <% @events.where(date: date).each do |event| %>
      <div class="title">
      <%= link_to event.title.truncate(10), event.url %>
      </div>
    <% end %>
  <% end %>
</div>
