.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #115549;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #115540;
  color: white;
}

.btn-flat a {
  text-decoration: none;
  color: white;
}

.btn-grad {
  background-image: linear-gradient(to right, #115540 0%, #237A57  51%, #115540  100%);
  // margin-top: 10px;
  padding: 10px 20px;
  text-align: center;
  // transition: 0.5s;
  // background-size: 100% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border:none;
}

// .btn-grad:hover {
//   background-position: right center; /* change the direction of the change here */
//   color: #fff;
//   text-decoration: none;
// }

.form-check-input:checked {
  background-color: #115540;
  border-color: #115549;
  }

.btn-sticky-tips {
  position: fixed;
  bottom: 3rem;
  background-color: white;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-create-tips {
  font-size: 1rem;
  justify-content: space-around;
}

.cb {
  margin-top: 1rem;
}

.btn-sticky-challenges {
  position: fixed;
  bottom: 4.1rem;
  background-color: rgba(255, 255, 255, 0);
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.remove-challenge {
  bottom: 4.3rem;
}
