.cardtips {
  overflow: hidden; // truncate
  width:100%;
  background-color: #F9F9F1;
  box-shadow: 0 10px 15px rgba(0,0,0,0.25);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

.cardtips h5 {
  padding-top: 0.625rem; //10px;
  color: #115549;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 700;
}

.tipsicon {
  color: #115549;
  font-size: 1rem;
  position: absolute;
  top: 0rem;
  right: 1rem;
}

.tipsimage {
  font-size: 2.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.ultips {
  padding: 0;
}

.cardtips li {
  list-style: none;
  align-items: center;
  flex-grow: 1;
}

.tipsname {
 font-weight: bold;
 text-align: left;
}

.description {
  padding-right: 3rem;
  text-align: left;
  font-weight: 500;
}

.desc-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.edit-icon {
  position: absolute;
  top: 0rem;
  right: 1rem;
  color: #115549;
}

.delete-icon {
  position: absolute;
  top: 3rem;
  right: 1rem;
  color: #115549;
}

.cardtips .food-icon i {
  color: #f6d029;
}
.cardtips .transport-icon i {
  color: #0c69db;
}
.cardtips .energy-icon i {
  color: #ee6700;
}
.cardtips .waste-icon i {
  color: darkgreen;
}
.cardtips .purchase-icon i {
  color: #f5aee1;
}

i.food-icon.tipsimage.fa-solid {
  color: #f6d029;
}

i.transport-icon.tipsimage.fa-solid {
  color: #0c69db;
}
i.energy-icon.tipsimage.fa-solid {
  color: #ee6700;
}
i.waste-icon.tipsimage.fa-solid {
  color: darkgreen;
}
i.purchase-icon.tipsimage.fa-solid {
  color: #f5aee1;
}

.challenge-description p {
  text-align: justify;
}
