
.card-challenge {
  background-color: white;
  border-radius: 4px;
  padding: 1em;
  box-shadow: 0px 23px 30px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 3%;
  align-items: center;
  margin-bottom: 6%;
  height: 36%;
}

.card-challenge-infos {
  margin: 0px;
  text-align: left;
  padding: 10px 15px 0px 15px;
}

.card-challenge i {
  font-size: 35px;
}

.card-challenge .fa-chevron-right {
  padding-right: 10px;
}

.card-challenge .icons {
  border: light;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  flex-shrink: 0;
}
.card-challenge .icons i {
  color: white;
  font-size: 25px;
}
.card-challenge .food-icon {
  background-color: #f6d029;
}
.card-challenge .transport-icon {
  background-color: #0c69db;
}
.card-challenge .energy-icon {
  background-color: #ee6700;
}
.card-challenge .waste-icon {
  background-color: darkgreen;
}
.card-challenge .purchase-icon {
  background-color: #f5aee1;
}
