
.card-challenge {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
  height: 9rem;
}

.card-challenge-infos {
  margin: 0px;
  text-align: left;
  padding: 10px 15px 0px 15px;
  flex-grow: 1;
}

.card-challenge i {
  font-size: 35px;
}

.card-challenge .fa-chevron-right {
  padding-right: 10px;
}

.card-challenge .icons {
  border: light;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  flex-shrink: 0;
}
.card-challenge .icons i {
  color: white;
  font-size: 25px;
}
.card-challenge .food-icon {
  background-color: #edc306;
}
.card-challenge .transport-icon {
  background-color: #0c69db;
}
.card-challenge .energy-icon {
  background-color: #ee6700;
}
.card-challenge .waste-icon {
  background-color: darkgreen;
}
.card-challenge .purchase-icon {
  background-color: #5e1e4c;
}
.challenges .card-challenge {
  position: relative;
}
.past-challenges i {
  position: absolute;
  right: -12px;
  top: -16px;
  color: green;
}
