.cardtips {
  width:90%;
  background-color: #f9f9f1;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.cardtips h5 {
  padding-top: 10px;
}

.tipsicon {
  color: #115549;
}

.tipsimage {
  font-size: 50px;
  color: #115549;;
}
.cardtips li {
  list-style: none;
}

.tipsname {
 font-weight: bold;
}
