.container-nav {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 70px;
  margin-right: auto;
  margin-left: auto;
}

.container-form {
  margin-left: 1rem;
  margin-right: 1rem;
}
