.event-card {
  align-items: center;
  text-decoration: none;
}

.date-card {
  padding-right: 1rem;
  text-align: center;
  padding-left: 1rem;
}

.day {
  font-size: 2rem;
  margin-bottom: 0;
}

.full-event {
  text-align: initial;
  margin: 1rem;
  padding: 1.25rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}

.pa {
  text-align: justify;
}

.title {
  text-align: initial
}

.full-event a {
  color: #608B6B;
}
