h1 {
  font-size: 2rem; // 32px;
  font-family: 'Poppins', sans-serif;
  color:#115549;
}

h2, h3, h4, {
  font-family: 'Poppins', sans-serif;
  color: rgb(50, 50, 50);
}

p {
  font-family: 'Open Sans', sans-serif;
  color: rgb(50, 50, 50);
  font-size: 1.10rem; //16px;
}
