.header {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  padding-top: 0.75rem;
  border-bottom: solid 2px;
  border-color: #115549;
}

.header p {
  margin: 0.5rem;
}

.header-green {
  background-color: #115549;
}

.header-green h1 {
  color: white;
}

.header-green p {
  color: white;
}

.title-avatar {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem 0.5rem 0.5rem;
  align-items: center;
}

.title-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header-no-avatar {
  padding: 0.75rem;
  background-color: #115549;
}

.header-no-avatar h2 {
  padding: 5px;
  color: white;
  margin: 0px;
}

.header .title-avatar i {
  border: light;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  font-size: 2rem;
  color: #115549;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
