.modal-body .custom-form {
  margin: unset;
}
.modal .modal-dialog {
  height: 100vh;
  display: flex;
  align-items: center;
}

.modal-dialog .modal-content {
  height: max-content;
}

.btn-primary {
  background-color: #E3EAE3;
  border: #E3EAE3;
  color: #115549;
}

.btn-create-tips {
  --bs-btn-active-bg: #7d9e7f;
  --bs-btn-active-border-color: #115540;
}
